*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

}
.result{
    color: white;
    text-align: right;
    font-size: 3.5em;
    width: 390px;
    
    height: 70px;
}
.keypad{
   

}
.display{
    margin: auto;
    width: 390px;
    margin-top: 40px;
    padding: 49px;
    
}
.key{
    background-color: rgb(54, 43, 43);
    color: white;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    font-size: 3em;
    margin: 5px;
    cursor: pointer;
}
.key:active{
    background-color: #746363;
}
.zero{
    width:200px ;
    border-radius: 49px;
}
tr:first-child td .key{
    background-color:#a5a5a5;
    color: black;
    cursor: pointer;
}
tr:first-child td .key:active{
    background-color: #c9c0c0;
}
tr td:last-child .key{
    background-color: #ec7f25;
    color: white;
    cursor: pointer;
}
tr td:last-child .key:active{
    background-color: rgb(224, 172, 74);
}
